<% content_for :content do %>
  <div class="container">
    <section>
      <h2>Settings</h2>
      <%= render 'home/settings_form' %>
    </section>
    <section>
      <h2>Time lines</h2>
      <% @manager.developers.each do |dev| %>
        <%= print_dev_track(dev, @settings.start_date) %>
      <% end %>
    </section>
    <section>
      <h2>Projects</h2>
      <% @projects.each do |project| %>
        <div>
          <span class="badge" style="background: <%= project.color %>;">
            <%= project.name %>
          </span>
        </div>
      <% end %>
    </section>
  </div>
<% end %>