<% content_for :content do %>
  <div class="container">
    <section>
      <h2>Time line</h2>
      <%= print_dev_track(@dev_presenter) %>
    </section>
    <section>
      <h2>Projects</h2>
      <% @projects.each do |project| %>
        <div>
          <span class="badge" style="background: <%= project.color %>;">
            <%= project.name %>
          </span>
        </div>
      <% end %>
    </section>
  </div>
<% end %>